<div class="content clearfix">
							<table>
							<div class="block block-60">
								<p>Looking to <strong>buy</strong>?</p>
								
								<p1><a href="#" id="trigger" class="menu-trigger">Browse all textbooks</a></p1><br><br><br><br>
								<p>Looking to <strong>sell</strong>? </p>
								<p1>Fill out the form below to sell a book. </p1>
							</div>
							<div class ="block block-40" id="Description">
								 <p2>Welcome to the TriCo Book Exchange! Save money and paper by buying or selling used textbooks. Browse textbooks for sale by college, department, and course, or post your own to sell.</p2> 
							</div>
							</table>
						</div>
  	<%= render 'layouts/form' %>
