<form name="myForm" method="post" onSubmit="return(validate())" id ="form">
  <fieldset>
    <legend class="info_header">Sell a Textbook</legend>
    	<table class="top">
    	<tr>
    		<td valign="top">

    	<div class = "grid_4 personalInfo">
    		<p class= "info_header"> Personal Information</p>

    	
    	<div class="form-group">
      <label for="inputName" class="col-xs-2 control-label class class1">Seller's Name *</label>

      
        <input type="text" class="form-control" id="inputName" placeholder="First and Last">
      
    </div>

    <br>

    

    <div class="form-group">
      <label for="inputContact" class="col-xs-2 control-label class class2">Email Address *</label>
      
        <input type="text" class="form-control" id="inputContact" placeholder="Email">
      
    </div>

    </td>

    <br>
    </div>

    <td valign="top">

    <div class = "grid_4 CourseInfo">
    	<p class= "info_header"> Course Information </p>

    	<div class="form-group">
        <label for="select" class="col-xs-2 control-label class class1">College</label>
        
        <select class="form-control" id ="college">
          <option>Swarthmore</option>
          <option>Bryn Mawr</option>
          <option>Haverford</option>
          
      	</select>
      
    </div>

	<br>

      <div class="form-group">
        <label for="select" class="col-xs-2 control-label class class1">Department</label>
        
        <select class="form-control" id ="department">
          <option>Anthropology</option>
          <option>Art History</option>
          <option>Astronomy</option>
          <option>Biology</option>
          <option>Chemistry</option>
          <option>Chinese</option>
          <option>Classics</option>
          <option>Computer Science</option>
          <option>Dance</option>
          <option>Economics</option>
          <option>Education</option>
          <option>English</option>
          <option>Engineering</option>
          <option>Environmental Studies</option>
          <option>Film & Media Studies</option>
          <option>French</option>
          <option>German</option>
          <option>Greek</option>
          <option>Gender & Sexuality Studies</option>
          <option>History</option>
          <option>Interpretation Theory</option>
          <option>Latin</option>
          <option>Linguistics</option>
          <option>Mathematics</option>
          <option>Music</option>
          <option>Peace & Conflict Studies</option>
          <option>Philosophy</option>
          <option>Physics</option>
          <option>Political Science</option>
          <option>Psychology</option>
          <option>Religion</option>
          <option>Russian</option>
          <option>Sociology & Anthropology</option>
          <option>Sociology</option>
          <option>Spanish</option>
          <option>Statistics</option>
          <option>Theatre</option>
        </select>
      
    </div>

    <br>

   <!--  <div class="form-group">
      <label for="select" class="col-xs-2 control-label class2"><strong>Course Number</label>
      
        <select class="form-control" id="number">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option selected>Not here</option>
        </select>
        <br>
      
    </div> -->
	
    <br>

    <div class="form-group">
      <label for="inputCN" class="col-xs-2 control-label class class3">Add 3-Digit Course Number </label>
        <input type="text" class="form-control" id="inputCN" placeholder="e.g. 001 (or 005F)">
      
    </div>
    </div>
	</td>
    <br>

    <td>
    <div class="grid_4 bookInfo">
    	<p class= "info_header"> Book Information </p>
    <div class="form-group">
      <label for="inputBook" class="col-xs-2 control-label class class1">Book Title *</label>
      
        <input type="text" class="form-control" id="bookName" placeholder="Title (including edition)">
      
    </div>

    <br>

    <div class="form-group">
      <label for="inputPrice" class="col-xs-2 control-label class class2">Selling Price *</label>
      
        <input type="text" class="form-control" id="inputPrice" placeholder="Price">
      
    </div>

    <br>

    <div class="form-group">
      <label for="inputCondition" class="col-xs-2 control-label class class3">Book Condition *</label>
      
        <input type="text" class="form-control" id="inputCondition" placeholder="New, Good, Fair, etc.">
     
    </div>

    <br>

    

    <div class="form-group">
      <label for="textArea" class="col-xs-2 control-label class class3">Additional Comments</label>
      
        <textarea class="form-control " rows="3" id="textArea"></textarea>
     
    </div>
    </td>
	</tr>
	</table>
    <br>

      <div class="col-lg-5 col-lg-offset-2">
        <button class="btn btn-default class class1 border">Cancel</button>
        <button type="submit" class="btn btn-primary border" id = "submit">Submit</button>
      </div>
    </div>
    </div>

  </fieldset>
</form>